*{
    text-align: center;

}
#body{
    background: black;

}
#img{
    width:20vh
}
#nav{
    background-color: black;
}
#offcanvas{
    background-color: red;
}
#burger{
 background-color: black;
}