*{
    font-family: gabarito;
    margin: 0;
    padding: 0;
}
#body{
    background: black;
    color: white;
    overflow-x: hidden;
}
#img{
    width:10vh
}
#nav{
    background-color: black;
    color: white;
}
#offcanvas{
    background-color: black;
    color: rgb(190, 0, 0);
}
#offcanvasNavbar{
    background-color:rgb(190, 0, 0);
    color: black;
}
#burger{
 background-color: black;

}
.space{
    margin: 48px;
}
#but{
    background-color: red;
}